[Unit]
Description=Simple random DNS, HTTP/S internet traffic noise generator

[Service]
User=loudy
WorkingDirectory=/opt/loudy
ExecStart=/usr/bin/python /opt/loudy/loudy.py --config /opt/loudy/config.json

[Install]
WantedBy=multi-user.target
